@import "highlight.js/styles/github-dark.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}
/* opcjonalnie - wygładzenie dymków */
.message-assistant { border-radius: 14px; }
.message-user { border-radius: 14px; }